.bg-img{
  background-image:url('https://cdn.10minuteschool.com/images/Skills_Lead_Gen_PDF/IELTS_Course_by_Munzereen_Shahid.pdf');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  padding:80px 0px;
}